.btn-add {
    margin: 10px 0 auto 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    height: auto;
}
.btn-edit {
    margin: 10px 0 auto 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    height: auto;
    background: gray;
}
.btn-edit:hover {
    color: white;
}
.btn-add:hover {
    background: gray;
    color: white;
}
.btn-container{
    display: flex;
    flex-direction: column;
}
.form-container {
    display: flex;
    margin: 20px auto;
}

label{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 100;
}
.form2-container{
    display: flex;
    flex-direction: column;

}
.form2-container > div:nth-child(1){
    margin-top: 10px;
}
#text-content{
    border-radius: 4px;
    margin: 10px;
    width: 560px;
    height: 100px;
    resize: none;
}
#text-title{
    border-radius: 4px;
    width: 200px;
    height: 38px;
}
#text-title:checked{
    border: 2px solid aqua;
}
#date{
    width: 200px;
    height: 20px;
}
.dropdown{
    margin: auto 0 ;
}